---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Tile from "../components/Tile.astro";
import Sidebar from "../components/Sidebar.astro";
import Main from "../components/Main.astro";
let data = "Loading...";
---

<p id="show"></p>{data}
<Layout title="Welcome to Astro.">
    <div class="flex justify-between items-center">
        <div class="w-auto z-10">
            <Sidebar />
        </div>
        <div class="w-[76%] h-screen z-30">
            <Main />
        </div>
    </div>
</Layout>
